body {
    font-family: Arial Black, Arial;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
header, nav, main, footer {
    background-color: white;
    margin: 0;
    padding: 30px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10 px white;
}
header {
    text-align: left;
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 8px  8px 0 0;
}
header .search-container {
    display: flex;
    float: right;
    margin: 20px;
}
header input [type="text"] {
    border: none;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    

}
nav {
    width: 200px;
    float: left;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    color: blue;
    display: block;
    padding: 30px;
    border-radius: 4px;
    transition: 4px;
}
nav a:hover{
    background-color: white;
}
main{
    margin-left: 250px;
}
section{
    margin-bottom: 50px;
}
footer{
    clear: both;
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-container span {
    color: block;
    width: 60px;
    line-height: 45px;
    text-align: center;
    border-radius: 100;
}
.search-container {
    border: 2px solid;
    text-align: center;
    border-radius: 100px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 180vh;
    margin-right: 10px;
    padding:9px;
}
